{% extends "base.html" %}

{% block title %}{{ video.caption }}{% endblock %}

{% block content %}
  <h1>{{ video.caption }}</h1>
  <p class="date">
    Published {{ video.publish }}
  </p>
  <div class="video-container">
    <video width="70%" controls>
        <source src="{{ video.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>

  <form action="{% url 'object_detection' year=video.publish.year month=video.publish.month day=video.publish.day video=video.slug %}" method="get">
    <button type="submit">Analyze Video</button>
  </form>

  {% if image_result %}
    <h2>Analysis Result:</h2>
    <img src="{{ image_result }}" alt="Analyzed Frame">
  {% endif %}

{% endblock %}
